.label-information {
    font-size: 20px;
    font-weight: 600;
}
.icon-profile {
    font-size: 20px;
    padding-right: 10px;
    color: rgb(55, 111, 222);
}
.row {
    display: flex;
    align-items: center;
}
.item-informaton {
    margin-bottom: 20px;
}
.information-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
}
.input-information {
    padding: 5px 25px;
    margin-top: 5px;
    width: 35vw;
    min-width: 300px;
    height: 40px;
    border-radius: 20px;
    border: 1px solid #ccc;
    text-decoration: none;
    font-size: 18px;
}
.input-information:focus{
    border: 1px solid rgb(68, 141, 250);
    outline: none;
}

.btn-logout {
    font-size: 20px;
    background-color: rgb(255, 144, 16);
    padding: 5px 20px;
    border-radius: 30px;
    color: #fff;
    margin-left: calc(35vw - 300px);
    cursor: pointer;
}
.btn-edit-profile{
    font-size: 20px;
    background-color: rgb(68, 141, 250);
    padding: 5px 20px;
    border-radius: 30px;
    color: #fff;
    cursor: pointer;
}
.btn-wrap_profile{
    display: flex;
    margin-top: 50px;
    padding-bottom: 150px;
}

.icon-edit-profile{
    font-size: 20px;
    position: absolute;
    right: 15px;
    top: 70px;
    color: rgb(0, 102, 255);
    cursor: pointer;
}

.label-wrap_profile{
    display: flex;
    position: relative;
    align-items: center;
}